#cover_page{
    background-color: rgb(162, 248, 248);
    text-align: center;
    margin-top: 15%;
    padding: 100px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    opacity: 0.7;
    border-style: dashed;
    border-color: rgb(93, 120, 121);
    border-width: 2px;
}

body{
    background-color: rgb(160, 216, 197);
    color: rgb(143, 117, 12);
}
.button{
    margin-top: 20%;
    text-align: right;

    color: rgb(160, 132, 123);
}
