body{
    background-color: rgb(250, 249, 243);
}
h4{
    text-align:center;
    color: rgb(32, 31, 31);
}
.div{
    border-width: 1px;
    border-style: groove;
    padding: 45px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10%;
}
#left_footer{
    text-align: left;
}
#right_footer{
    text-align: right;
}
#footer{
    margin-top: 15%;
}
b{
    text-align: center;
    color: rgb(36, 31, 31);
}
